@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

h2{
    font-family: 'Oswald', sans-serif;
    text-shadow: 0.04em 0.04em #000

}

h1{
    font-family: 'Oswald', sans-serif;
    text-shadow: 0.04em 0.04em #000
}

h3{
     font-family: 'Oswald', sans-serif;
}
p{
    font-size: 2em;
}

$primary: #000;